body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: gray;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  color: blue;
}